<template>
	<div id="albumhelper_admin_settings" class="section">
		<h2>
			{{ t('albumhelper', 'AlbumHelper') }}
		</h2>
		<div id="albumhelper-content">
			<h3>
				{{ t('albumhelper', 'The AlbumHelper App settings. Nothing here yet. Go to the Sharing tab under Personal for album conversions.') }}
			</h3>
		</div>
	</div>
</template>

<script>
import NcCheckboxRadioSwitch from '@nextcloud/vue/dist/Components/NcCheckboxRadioSwitch.js'
import { loadState } from '@nextcloud/initial-state'
import axios from '@nextcloud/axios'
import { showSuccess, showError } from '@nextcloud/dialogs'
import { generateUrl } from '@nextcloud/router'


export default {
	name: 'AdminSettings',

	// child components that can be used inside the template
	components: {
		NcCheckboxRadioSwitch,
	},

	props: [],

	// Data is loaded from the php backend and can be used in the template
	data() {
    	// Load initial state from Nextcloud's server-side php data that is provided
		// This data is not the one from the database, instead we are getting the data from the 
		// php script that loaded this vue component
		// and this php script admin.php already used the configservice functions
		// to convert the data to array format
		// , thus we receive array and not json
		// json is stored in database of nc directly
		let initialState = loadState('albumhelper', 'admin-config');

		// No need to convert the checkboxes to strings, since they require boolean values anyway

		// return state such that our text fields can use this state
		return {
			state: initialState
		};
	},

	computed: {
	},

	watch: {
	},

	mounted() {
	},

	methods: {
		onCheckboxChanged(newValue, key) {
			this.state[key] = newValue
			this.saveOptions({ [key]: this.state[key] ? '1' : '0' })
		},
		saveOptions(values, notify = true) {
			const req = {
				values,
			}
			// This generates the url which is used in axios.put to write directly to the nc db
			const url = generateUrl('/apps/albumhelper/admin-config')
			return axios.put(url, req)
				.then((response) => {
					if (notify) {
						showSuccess(t('albumhelper', 'AlbumHelper admin options saved'))
					}
				})
				.catch((error) => {
					showError(
						t('albumhelper', 'Failed to save AlbumHelper admin options')
						+ ': ' + error.response?.request?.responseText
					)
				})
		},
	},
}
</script>

<style scoped lang="scss">
#albumhelper_admin_settings {
	#albumhelper-content {
		margin-left: 40px;
	}
}
</style>
