<template>
	<div id="albumhelper_user_settings" class="section">
		<h2>
			{{ t('albumhelper', 'AlbumHelper') }}
		</h2>
		<div id="albumhelper-content">
			<h3>
				{{ t('albumhelper', 'The AlbumHelper App. Here you can convert folders to albums. The album will have the same content as the folder. Shares are also transferred to the new album. Pictures/Videos in subfolders of a folder are also added to the new album but the hierarchy is obvoiusly not preserved.') }}
			</h3>

			<br>

			<!-- Those text fields return the values as a string -->
			<input type="text" v-model="state.singleFolder" placeholder="Folder to convert, e.g. Photos/2023_12_Test" style="width: 70%;">
			<!-- Convert Button -->
			<button @click="convertFolder">Convert Folder</button>
			
			<br>

			<!-- Those text fields return the values as a string -->
			<input type="text" v-model="state.subFolder" placeholder="Convert all subfolders to albums at once, e.g. Photos" style="width: 70%;">
			<!-- Convert Button -->
			<button @click="convertSubFolders">Convert Subfolders</button>


		</div>
	</div>
</template>

<script>
import { loadState } from '@nextcloud/initial-state'
import axios from '@nextcloud/axios'
import { showSuccess, showError, showInfo } from '@nextcloud/dialogs'
import { generateUrl } from '@nextcloud/router'


export default {
	name: 'UserSettings',

	props: [],

	// Data is loaded from the php backend and can be used in the template
	data() {
    	// Load initial state from Nextcloud's server-side php data that is provided
		// This data is not the one from the database, instead we are getting the data from the 
		// php script that loaded this vue component
		// and this php script user.php already used the configservice functions
		// to convert the data to array format
		// , thus we receive array and not json
		// json is stored in database of nc directly
		let initialState = loadState('albumhelper', 'user-config');

		// return state such that our text fields can use this state
		return {
			state: initialState
		};
	},

	computed: {
	},

	watch: {
	},

	mounted() {
	},

	methods: {
		convertFolder() {
			// Get the folder path from the state
			const folderPath = this.state.singleFolder;

			// Call the backend to convert the folder
			const req = {
				folderPath,
			}
			// Show user that conversion started before performing the axios call
			showInfo(t('albumhelper', 'AlbumHelper: Convesion for folder started!'));

			// This generates the url which is used in axios.put to write directly to the nc db
			const url = generateUrl('/apps/albumhelper/convert-folder')
			return axios.put(url, req)
				.then((response) => {
					showSuccess(t('albumhelper', 'AlbumHelper: Convesion successful!'));
				})
				.catch((error) => {
					const errorMessage = error.response?.data?.message || error.response?.request?.responseText;
					showError(t('albumhelper', 'AlbumHelper: Error during conversion: ') + errorMessage);
				});
		},
		convertSubFolders() {
			// Get the folder path from the state
			const folderPath = this.state.subFolder;

			// Call the backend to convert the folder
			const req = {
				folderPath,
			}
			// Show user that conversion started before performing the axios call
			showInfo(t('albumhelper', 'AlbumHelper: Convesion of all subfolders started!'));

			// This generates the url which is used in axios.put to write directly to the nc db
			const url = generateUrl('/apps/albumhelper/convert-subfolders')
			return axios.put(url, req)
				.then((response) => {
					showSuccess(t('albumhelper', 'AlbumHelper: Convesion of all subfolders successful!'));
				})
				.catch((error) => {
					const errorMessage = error.response?.data?.message || error.response?.request?.responseText;
					showError(t('albumhelper', 'AlbumHelper: Error during subfolder conversion: ') + errorMessage);
				});
		},
		saveOptions(values, notify = true) {
			const req = {
				values,
			}
			// This generates the url which is used in axios.put to write directly to the nc db
			const url = generateUrl('/apps/albumhelper/user-config')
			return axios.put(url, req)
				.then((response) => {
					if (notify) {
						showSuccess(t('albumhelper', 'AlbumHelper user options saved'))
					}
				})
				.catch((error) => {
					showError(
						t('albumhelper', 'Failed to save AlbumHelper user options')
						+ ': ' + error.response?.request?.responseText
					)
				})
		},
	},
}
</script>

<style scoped lang="scss">
#albumhelper_user_settings {
	#albumhelper-content {
		margin-left: 40px;
	}
}
</style>
